<ion-header>
  <ion-toolbar>
    <ion-title>
     Inventory
    </ion-title>
    <ion-searchbar></ion-searchbar>
    <ion-button>Filter</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
          <ion-label>hair</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>nails</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>cosmetics</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>pussy</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>why not</ion-label>
        </ion-item>
      </ion-list>
</ion-content>
