<ion-app>
    <ion-menu contentId="content1" side="start">
        <ion-header>
          <ion-toolbar>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          menu stuff
        </ion-content>
      </ion-menu>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
<!--app needs 
***Reports
    monthly/weekly/daily.....notification of reports. 
    batch out
    receipt info 
    return info
    pickup delivery info


***Orders
    incoming orders
    orders in queue/being prepared
    outgoing orders
    pickups
    deliveries
    confirmation of delivered orders and pickups with rating

    **register
          calculator
          returns
          apply deals in store
          share qt to customers email or phone number. so they can sign up. 
          taxes sis........taxes
          barcode input prices for items like pdas 

***Inventory
    item price qty

settings
notifications/communication from company 

support



menu
    settings
    notifications/mail
    contact support
    CRM - newest customers - frequent customers
    Employee Relations
    About








main focus - orders. 
secondary focus - inventory management
ternary focus - reports

register used for facilitating tasks



-->